*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height: 100%;
}
header{
    padding: 20px 2%;
}
.clear{
    clear: both;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.logo img{
    float: left;
    width: 236px;
}
header nav{
    float: right;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    float: left;
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}
header nav ul li a{
    text-decoration: none;
    color: #B4B4B4;
}
.mosaico-single{
    float: left;
    width: calc(100%/6);
}
.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #CCCCCC;
    border: 5px solid white;
}

.servicos .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}
.servicos .container .box-servico {
    background-image: url(../imagens/icone_dente.png);
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}
.servicos .container .box-servico h2{
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}
.servicos .container .box-servico p{
    color: white;
    margin-top: 8px;
    font-weight: normal;
    font-size: 12px;
}
.servicos .container .box-servico:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    background-color: #688293;
}
.servicos .container .box-servico:nth-of-type(2){
    width: 40%;
    padding: 45px 2%;
    background-color: #576975;
    background-image: none;
}
.servicos .container .box-servico:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}
.perfil-container{
    padding: 40px 0;
}
.perfil-container .container{
    max-width: 800px;
}
.perfil-container .perfil-wraper{
    padding-top: 60%;
    position: relative;
}
.perfil-container .perfil-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img-perfil{
    width: 40%;
    height: 100%;
    background-image: url(../imagens/img_perfil.png);
    background-size: 100% 100%;
}
.perfil-container .texto-perfil{
    width: 60%;
    padding: 0 30px;
}
.perfil-container .texto-perfil h2{
    font-size: 18px;
    color: #688293;
}
.perfil-container .texto-perfil p{
    color: #688293;
    font-size: 14px;
    margin-top: 8px;
}